
body {
    background-color: rgb(105, 165, 164); 
    /* text-align: center; */
    /* margin: 0;
     */
    /* height: 100%;
    width: 100%; */
}

.row {
    margin: 0;
}

.w-100 {
    width: 100% !important;
}

/* Banner */

.banner {
    justify-content: center;
    display:grid;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: url(file:///C:/Users/wendy/Desktop/projects/portfolio/assets/images/grooves.webp); */
    background-image: url(https://wallpapercave.com/wp/wp3387879.jpg);
}

/* .banner#card-content {
    font-family: 'Shippori Mincho B1', serif;
} */

#bannerAction {
    color: rgb(105, 165, 164) !important;
}

#bannerCard {
    border-radius: 30px;
    margin-top: 20%;
    font-family: 'Shippori Mincho B1', serif;
}

#bannerTitle {
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family: 'Shippori Mincho B1', serif;
}

/* NavBar */
nav {
    background-color: rgb(105, 165, 164);;
    font-family: 'Shippori Mincho B1', serif;
}

img {
    /* float: left; */
    /* padding: 0px 3px 0px 0px; */
    margin-top:20%;
    /* margin-top:50px; */
}

/* About Me */
.aboutTitle {
    font-weight: bold;
    text-decoration: underline;
    font-size: 5px;
}

.aboutMeDiv {
    float:left;
}

h1 {
    /* font-family: 'Shippori Mincho B1', serif; */
    font-weight: bolder;
    /* margin-top:15%; */
}

p {
    /* margin: .2; */
    /* padding: .2; */
    /* letter-spacing: 1px; */
    /* font-size: 1.25rem; */
    text-shadow:rgb(97, 99, 130);
}

.aboutText {
    font-family: 'Shippori Mincho B1', serif;
    font-weight: bolder;
    /* display: inline-block; */
    /* float:left; */
}

/* Middle Work Section Styling */
.middle {
    background-color: rgb(97, 99, 130);
} 

/* Footer */
.page-footer {
    background-color: rgb(102, 36, 91);
}