
body {
    background-color: rgb(105, 165, 164); 
    /* text-align: center; */
    /* margin: 0;
     */
    /* height: 100%;
    width: 100%; */
}

.row {
    margin: 0;
}

.w-100 {
    width: 100% !important;
}

/* Banner */

.banner {
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://cdn.pixabay.com/photo/2013/10/02/23/03/mountains-190055_960_720.jpg);
    /* background-image: url(https://cdn.pixabay.com/photo/2018/04/29/01/15/coast-3358815_960_720.jpg); */
}

#bannerTitle {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

/* NavBar */
nav {
    background-color:rgb(102, 36, 91);
    font-family: 'Shippori Mincho B1', serif;
}

img {
    /* float: left; */
    /* padding: 0px 3px 0px 0px; */
    margin-top:30%;
    /* margin-top:50px; */
}

/* About Me */
.aboutTitle {
    font-family: 'Shippori Mincho B1', serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 5px;
}

.aboutMeDiv {
    float:left;
}

h1 {
    font-family: 'Shippori Mincho B1', serif;
    font-weight: bolder;
    /* margin-top:15%; */
}

p {
    /* margin: .2; */
    /* padding: .2; */
    /* letter-spacing: 1px; */
    /* font-size: 1.25rem; */
    text-shadow:rgb(97, 99, 130);
}

.aboutText {
    font-family: 'Shippori Mincho B1', serif;
    font-weight: bolder;
    /* display: inline-block; */
    /* float:left; */
}

/* Middle Work Section Styling */
.middle {
    background-color: rgb(97, 99, 130);
} 

/* Footer */
.page-footer {
    background-color: rgb(102, 36, 91);
}