
/* body {
    background-color: rgb(105, 165, 164); 
    text-align: center;
    margin: 0;
    height: 100%;
    width: 100%;
} */

.row {
    margin: 0;
}

.w-100 {
    width: 100% !important;
}

h1 {
    font-family: 'Shippori Mincho B1', serif;
    font-weight: bolder;
    text-shadow:rgb(48, 48, 53) !important;
    /* margin-top:15%; */
}

p {
    /* margin: .2; */
    /* padding: .2; */
    /* letter-spacing: 1px; */
    /* font-size: 1.25rem; */
    text-shadow:rgb(97, 99, 130);
}

/* Banner */

.banner {
    justify-content: center;
    display:grid;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: url(file:///C:/Users/wendy/Desktop/projects/portfolio/assets/images/grooves.webp); */
    background-image: url(https://wallpapercave.com/wp/wp3387879.jpg);
}

/* .banner .card {
    
} */

/* .banner#card-content {
    font-family: 'Shippori Mincho B1', serif;
} */

.bannerCard {
    border-radius: 30px;
    margin-top: 15%;
    font-family: 'Shippori Mincho B1', serif;
    background-color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    /* color: rgb(105, 165, 164) !important; */
    text-shadow: rgb(39, 39, 41) !important;
    /* opacity: .5; */
}

#bannerTitle {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

/* NavBar */
nav {
    background-color: #26a69a;
    font-family: 'Shippori Mincho B1', serif;
}

img {
    /* float: left; */
    /* padding: 0px 3px 0px 0px; */
    margin-top:20%;
    /* margin-top:50px; */
}

/* About Me */
.actionCard {
    font-family: 'Shippori Mincho B1', serif;
    background-color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    /* color: rgb(105, 165, 164) !important; */
    text-shadow: rgb(39, 39, 41) !important;
    /* opacity: .5; */
}

.aboutTitle {
    font-weight: bold;
    text-decoration: underline;
    font-size: 5px;
}

.aboutText {
    font-family: 'Shippori Mincho B1', serif;
    font-weight: bolder;
    /* display: inline-block; */
    /* float:left; */
    padding: 10px;
}

.aboutAction {
    font-family: 'Shippori Mincho B1', serif !important;
}

/* section 2 */

.section2 {
    justify-content: center;
    /* display:grid; */
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://lh4.googleusercontent.com/-pS0P2vPliuw/TXHp9KpKBoI/AAAAAAAAAO4/vpBrtPaZfHU/s1600/Free_High_resolution_nature_wallpaper_506478.jpg);
}

/* Middle Work Section Styling */
.middle {
    background-color: rgb(97, 99, 130);
} 

/* section 3 */

.section3 {
    justify-content: center;
    /* display:grid; */
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://assets.wallpapersin4k.org/uploads/2017/04/Widescreen-Nature-Wallpapers-High-Resolution-17.jpg);
}

/* Footer */
.page-footer {
    background-color: #26a69a;
}